body {
    margin: auto;
    width: 40%;
}
.topnav {
    margin: auto;
    padding: 20px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.theyalow {

    float: left;
    margin-right: 7px;
    color: brown ;
}

.img {
    background-color: #a12c2c;
}