.body {
    margin: auto;
    width: 40%;
}
.contener_topnav {
    background: rgb(234, 198, 37);
    padding: 40px;
    font-size: 25px;
}

.topnav {
    background: rgb(234, 198, 37);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    }