body {
    margin: auto ;
}
.topnav {
    margin: auto;
    padding: 20px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.theyalow {

    float: left;
    margin-right: 7px;
    color: brown ;
}